#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  vertical-align: middle;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-left: 2em;
}

#nav-bar .header {
  font-size: 2em;
  vertical-align: middle;
  margin-left: 10px;
}

#nav-bar .button {
  font-size: 1.7em;
  vertical-align: middle;
  border-radius: .4em;
  padding-top: .5em;
  padding-bottom: .5em;
  float: right;
  margin-top: .32em;
  color: #00a087;
  background-color: rgb(222, 250, 250)
}

#nav-bar .button:hover {
color: black;
background-color: white;
} 